h1{
    text-align: center;
}
form{
    box-sizing: border-box;
    height: 800px;
    width: 400px;
    margin: auto;
    background-color: antiquewhite;
    padding: 30px;
}
input{
    border-radius: 3px;
    width: 100%;
    height: 30px;
}
label{
    padding-right: 15px;
    font-size: 120%;
}
input[type=submit]{
    background-color: #08d;
    border-radius: 10px;
    color: #eee;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
}
div{
    text-align: center;
    height: 50%;
}
input[type=submit]:active{
    background-color:#06b ;
}